ex2/BenhNhan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://tempuri.org/BenhNhan.xsd"
           xmlns:mstns="http://tempuri.org/BenhNhan.xsd"
           elementFormDefault="qualified">
    
    <xs:complexType name="BNType">
        <xs:sequence>
            <xs:element name="HoTen">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NgayNhapVien">
                <xs:simpleType>
                    <xs:restriction base="xs:date">
                        <xs:minExclusive value="2004-01-01"/>
                        <xs:maxExclusive value="2025-10-01"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SoNgayDieuTri" type="xs:int"/>
            <xs:element name="SoTien" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="MaBenhNhan" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z0-9]{5}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="KhoaType">
        <xs:sequence>
            <xs:element name="TenKhoa">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Noi"/>
                        <xs:enumeration value="Ngoai"/>
                        <xs:enumeration value="Cap Cuu"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Phong" type="xs:int"/>
            <xs:element name="BenhNhan" type="mstns:BNType" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
        <xs:attribute name="MaKhoa" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="K[0-9]{2}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="BVType">
        <xs:sequence>
            <xs:element name="Khoa" type="mstns:KhoaType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="BV" type="mstns:BVType"/>
</xs:schema>
